/* iPad pro */

@media only screen and (min-width:769px) and (max-width: 1024px) {
    body {
        font-size: 1.2em;
    }
    #welcome {
        font-size: 1.5em;
    }
    .project-box h3 {
        font-size: 1em;
    }
}


/* iPad */

@media only screen and (min-width:767px) and (max-width: 768px) {
    #welcome {
        background-image: radial-gradient(rgba(0, 0, 255, 0.1), rgba(0, 0, 218, 0)), url(../img/bg-min-min.jpg)
    }
    #sidenav {
        display: none;
    }
    header {
        display: block
    }
    .subheading {
        padding: 0%;
        /* background-color: blue; */
    }
    #hobbies img {
        width: 100%;
    }
    .container#projects {
        padding: 0% 10% 0% 10%
    }
    #projects .row.sc {
        margin: auto;
    }
    #projects .subheading {
        padding-left: 6%;
    }
    .project-box h3 {
        font-size: 1em;
    }
    #footer {
        margin-bottom: 40%;
    }
}


/* mobile */

@media only screen and (min-width:200px) and (max-width: 767px) {
    body {
        font-size: 0.8em;
    }
    #welcome {
        background-image: radial-gradient(rgba(0, 0, 255, 0.1), rgba(0, 0, 218, 0)), url(../img/bg-min-min.jpg)
    }
    #content .container {
        padding: 0% 5%
    }
    #logo {
        width: 40%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #sidenav {
        display: none;
    }
    header {
        display: block
    }
    .subheading {
        padding-left: 3%;
        /* background-color: blue; */
    }
    #about img {
        width: 70%;
    }
    #hobbies {
        margin-bottom: 10%;
    }
    #hobbies img {
        width: 100%;
    }
    #first-quote {
        margin-bottom: 10%;
    }
    /* .container#projects {
        padding: 0% 5% 0% 5%
    } */
    #projects .row.sc {
        margin: auto;
    }
    /* #projects .subheading {
        padding-left: 3%;
    } */
    .project-box h3 {
        font-size: 1.2em;
    }
    #bubble a {
        padding: 8px 16px
    }
    #bubble .bubble-box {
        margin: 0% 15%;
    }
    .bubble-box h4 {
        font-size: 1em;
    }
    .bubble-box a {
        font-size: 0.8em;
    }
    #contact h4 {
        font-size: 1em;
    }
    #contact .item {
        font-size: 0.8em;
    }
    #contact .col-6 {
        padding-right: 2%;
    }
    #contact .col {
        padding-left: 2%
    }
    /* #footer {
        margin-bottom: 10%;
    } */
}