/* iPad pro */


/* @media only screen and (min-width:769px) and (max-width: 1024px) {
    body {
        font-size: 1.2em;
    }
    #welcome {
        font-size: 1.5em;
    }
    #about img {
        height: 100px;
    }
    .project-box h3 {
        font-size: 1em;
    }
} */


/* iPad portrait*/


/* @media only screen and (min-width:767px) and (max-width: 768px) {
}

/* mobile */

@media only screen and (min-width:200px) and (max-width: 767px) {
    body {
        font-size: 2.5vw;
    }
    #logo {
        width: 40%;
    }
    #welcome {
        background-image: radial-gradient(rgba(0, 0, 255, 0.1), rgba(0, 0, 218, 0)), url(../img/bg-min-min.jpg);
    }
    #welcome p {
        font-size: 1.5rem;
        letter-spacing: none;
    }
    #content .container {
        padding: 0 20px 100px 20px;
        margin: auto
    }
    .about-para {
        background-color: gray;
        padding: 0 25px 75px 25px;
    }
    #hobbies h3 {
        font-size: 1.5rem;
        margin-bottom: 25px;
        text-align: center;
    }
    .hobbies-para {
        background-color: pink;
        padding: 75px 25px 0px 25px;
    }
    .dummy {
        margin-bottom: 75px;
        /* background-color: blue; */
    }
    #hobbies img {
        width: 100%;
        height: 100%;
    }
    .container#first-quote {
        font-size: 1.5rem;
        text-align: center;
    }
    #projects .col-lg {
        margin-top: 75px;
    }
    .project-box {
        padding: 0px 25px 20px 25px
    }
    .project-box h3 {
        padding: 10px 0px;
        font-size: 1.5rem;
        width: 90%;
    }
    .project-box img {
        margin-top: 20px;
        margin-bottom: 10px
    }
    .project-box p {
        font-size: 1rem;
        padding: 0px 10px;
    }
    .project-box i {
        font-size: 2rem;
        padding: 0 15px;
        color: rgb(197, 128, 0);
    }
    /* #content .container {
        padding: 0% 5%;
        margin-bottom: 10%;
    }
    #logo {
        width: 40%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #sidenav {
        display: none;
    }
    header {
        display: block
    }
    .subheading {
        padding-left: 3%;
        padding-bottom: 5%;
    }
    #about img {
        width: 70%;
    }
    .about-para {
        margin-bottom: 15%;
    }
    .about-para p {
        width: 100%;
        padding: 0% 10%;
    }
    #hobbies {
        margin-bottom: 10%;
    }
    #hobbies img {
        width: 100%;
    }
    .dummy {
        padding-bottom: 20%;
    }
    .hobbies-para p,
    .hobbies-para h3 {
        width: 100%;
        padding: 0% 10%;
    }
    .container#first-quote {
        padding-bottom: 30%
    }
    #projects .row.sc {
        margin: auto;
    }
    .container#bubble {
        margin-bottom: 40%;
    }
    #bubble .bubble-box {
        margin: 0% 15%;
    }
    #bubble-intro {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .bubble-box h4 {
        font-size: 1em;
    }
    #bubble a {
        padding: 50% 100%;
        font-size: 0.4rem;
        line-height: 2rem;
    }
    #contact h4 {
        font-size: 1rem;
    }
    #contact .item {
        padding-top: 1%;
        margin: auto;
        font-size: 0.8rem;
    }
    #contact a {
        font-size: 2rem;
    }
    #contact .col-6 {
        padding-right: 2%;
    }
    #contact .col {
        padding-left: 2%
    }
    .btn7 {
        width: 120px;
    }
    #footer p {
        font-size: 0.7rem;
        margin: auto;
    }
    #footer {
        margin-bottom: 10%;
    } */
}