html, body {
  width: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  /* background-color: rgb(249, 248, 255); */
  text-rendering: optimizeLegibility;
  }
  
/* only for hiding the main content at the start */
#main {
  visibility: hidden;
}

.para {
  line-height: 150%;
}

#logo {
  width:20%;
  height:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#welcome {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 218, 0.2), rgba(0, 0, 218, 0.2)), url(../img/bg.jpg) ;
  background-size: 100%;
  background-position-y: 50%;
}

#welcome p{
  text-align:center;
  font-size: xx-large;
  position: absolute;
  color:paleturquoise;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: wheat; */
}

.col-9 {
  padding: 0%;
  /* background-color: blueviolet; */
}

#navbar-main {
  height: 1000px;
  /* background-color: white; */
}

#content {
  position: absolute;
  font-size: large;
  top: 100%;
  /* background-color: green; */
  padding-top:10%;
}

.sidenav {
  height: 200%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  /* z-index: 0; */
  /* background-color: yellow; */
  overflow-x: hidden; 
  padding-top: 0.1%;
  margin: 1%;
  font-family: 'Poppins', sans-serif;
}

.sidenav p{
  /* background-color: tomato; */
  font-weight:600;
  padding:30% 0%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: black;
}


#choices {
  clear:both;
  /* background-color:darkblue; */
  position: absolute;
  top: 18%
}

#choices .btn6 {
  font-size: smaller;
  padding:3% 10%;
  margin: 0% 0%;
  color: black;
  text-transform:none
}

.sidenav-dummy {
  height: 200%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  /* z-index: 0; */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  left: 0;
  /* background-color: yellow; */
  overflow-x: hidden; 
  padding-top: 0.1%;
  margin: 1%;
  font-family: 'Poppins', sans-serif;
}

.sidenav-dummy p{
  /* background-color: tomato; */
  padding:30% 0%;
  position: absolute;
  font-weight:600;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color:white
}

#choices-dummy {
  clear:both;
  /* background-color:darkblue; */
  position: absolute;
  top: 18%
}

#choices-dummy .btn6 {
  font-size: smaller;
  padding:3% 10%;
  margin: 0% 0%;
  color: white;
  text-transform:none
}

.subheading {
  text-align:left;
  font-weight: bold;
  position: relative;
  padding: 20px;
  margin-bottom: 5%;
}

.subheading hr {
  height: 5px;
  width: 140px;
  position: absolute;
  left: 1.5%;
  margin-left: 0;
  top: 100%;
  margin-top: -10px;
  color: rgb(13, 226, 77);
}

/* About me section */
#about {
  margin-top: 10%;
  /* background-color: yellow; */
}

#about-first-para {
  padding-bottom: 15%;
  padding-right:10%;
  /* background-color: white; */
}

#about-first-para img {
  width: 50%;
  transform: translate(50%);
  margin-bottom: 5%;
}

#about-first-para p{
  width: 90%;
  padding-left: 10%;
}

#about-second-para {
  padding-bottom: 15%;
  padding-right:10%;
  /* background-color: wheat; */
}
#about-second-para p{
  width: 90%;
  padding-left: 10%;
}

/* Hobbies section */
/* #hobbies {
  background-color: beige;
} */

#hobbies-first-para {
  padding-bottom: 15%;
  padding-left:5%;
  /* background-color: yellowgreen; */
}

#hobbies-second-para {
  padding-bottom: 15%;
  padding-left: 5%;
  /* background-color: thistle; */
}

/* First Quote */
#first-quote{
  font-size: x-large;
  padding:20% 0%;
  /* background-color: lightgreen */

}

/* Projects */
/* #projects {
  background-color: lightcoral;
} */

.project-box {
  /* background-color: lightyellow; */
  border: 2px solid red;
  position: relative;
  padding: 0% 10%
}

.project-box h3{
  /* background-color: rgb(249, 248, 255); */
  /* Same as background */
  font-size: x-large;
  width: 90%;
  position: absolute;
  left:50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.project-box img{
  top: 20%;
  transform: translate(50%, 50%);
}
.project-box p{
  font-size: medium;
  text-align: center;
  padding-top: 10%;
  /* background-color: yellowgreen; */
  position: relative;
  padding-bottom: 20%
}
.project-box .proj-icons{
  clear: both;
  position: absolute;
  left:50%;
  transform: translate(-50%,-200%);
  /* background-color: violet; */
  padding: 0 2%;
}

#projects span{
  text-align: center;
  font-size: x-large;
  font-weight: 800;
  /* background-color: teal; */
  padding: 10% 0% 20% 0%;
}

/* Yuki's Thought Bubble */
#bubble{
  /* background-color: cornsilk; */
  padding-bottom: 20%;
}

#bubble h4{
  /* background-color: darkgrey; */
  padding-bottom: 8%;
}

#bubble .bubble-box{
  width: 60%;
  margin: auto;
  /* background-color: pink; */
  margin-bottom: 5%;
}

#bubble .bubble-box h5{
  font-weight: 600;
}

#bubble a{
  padding: 20% 80%;
  /* color: #fff; */
  transform: translate(-20%,-20%);
}


/* Get in touch */
#contact {
  /* background-color:violet; */
  margin-bottom: 20%
}

.contactcolumn{
  /* background-color: sienna; */
  margin: 0px;
  padding: 0px;
}

.contactcolumn p{
  /* background-color: yellow; */
  margin-bottom: 0%;
  margin-top: 10%;
}

.contactcolumn input{
  /* background-color: wheat; */
  width: 100%;
  padding:0px;
  margin: 0px;
}

#message{
  height: 78%;
  /* background-color: wheat; */
  width: 100%;
  padding:0px;
  margin: 0px;
}

#submitbutton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/* Footer */
footer {
  margin-top: 10%;
  padding-top: 5%;
  /* background-color: aqua; */
}

footer a{
  text-decoration: none;
}

footer p{
  /* background-color: white; */
  text-align: center;
  font-size: medium;
  width: auto;
}