html, body {
  width: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: rgb(246, 255, 248);
}

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  /* background-color: rgb(249, 248, 255); */
  text-rendering: optimizeLegibility;
  }
  
/* only for hiding the main content at the start */
#main {
  visibility: hidden;
}

.para {
  line-height: 170%;
}

#logo {
  width:20%;
  height:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#welcome {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 218, 0)), url(../img/bg.jpg);
  /* rgba(0, 0, 218, 0.2), rgba(0, 0, 218, 0.2) */
  background-size: 100%;
  background-position-y: 50%;
}

#welcome p{
  text-align:center;
  font-size: xx-large;
  position: absolute;
  color:paleturquoise;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: wheat; */
}

.col-9 {
  padding: 0%;
  /* background-color: blueviolet; */
}

#navbar-main {
  height: 1000px;
  /* background-color: white; */
}

#content {
  position: absolute;
  font-size: large;
  top: 100%;
  /* background-color: green; */
  padding-top:10%;
}

.sidenav {
  height: auto; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  /* z-index: 0; */
  overflow-x: hidden; 
  margin: 1%;
  font-family: 'Poppins', sans-serif;
  /* border:4px solid blue; */
  padding:0%
}

.sidenav p{
  /* background-color: tomato; */
  font-size: 1.1em;
  font-weight:600;
  padding:30% 0%;
  /* position: absolute; */
  /* left: 50%;
  transform: translate(-50%); */
  text-align: center;
  color: black;
  margin:0%
}

nav ul {
  margin:0%;
  padding:0%;
  display: block;
}

nav li {
  /* background-color: yellow; */
  list-style: none;
  margin: 0px;
  padding: 0;
  letter-spacing: 1px;
  cursor: pointer;
}

nav li span {
  /* background-color: beige; */
  width:auto;
  color:black;
  font-size: small;
  display: inline-block;
  line-height: 3em;
  text-align: center;
  /* text-decoration: none; */
  position: relative;
  padding:0%;
  left: 50%;
  transform: translate(-50%);
}

nav li span:after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 0;
  height: 2px;
  display: block;
  content: "";
  background: #585757;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 5px
}

nav li span:hover:after {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  right: 0
}


.subheading {
  text-align:left;
  font-weight: bold;
  position: relative;
  padding: 20px;
  margin-bottom: 5%;
}

.subheading hr {
  height: 5px;
  width: 140px;
  position: absolute;
  left: 1.5%;
  margin-left: 0;
  top: 100%;
  margin-top: -10px;
  color: rgb(13, 226, 77);
}

/* About me section */
#about {
  margin-top: 10%;
  /* background-color: yellow; */
}
#about img {
  width: 50%;
  transform: translate(50%);
  margin-bottom: 8%;
}

#about-first-para {
  padding-bottom: 15%;
  padding-right:10%;
  /* background-color: yellow; */
}

/* #about-first-para img {
  width: 50%;
  transform: translate(50%);
  margin-bottom: 8%;
} */

#about-first-para p{
  width: 90%;
  padding-left: 10.5%;
}

#about-second-para {
  padding-bottom: 15%;
  padding-right:10%;
  /* background-color: wheat; */
}
#about-second-para p{
  width: 90%;
  padding-left: 10.5%;
}

/* Hobbies section */
/* #hobbies {
  background-color: beige;
} */

#hobbies h3{
  margin-bottom: 3%;
}

#hobbies-first-para {
  padding-bottom: 15%;
  padding-left:10.5%;
  padding-right:10%
  /* background-color: yellowgreen; */
}

#hobbies-second-para {
  padding-bottom: 10%;
  padding-left: 10.5%;
  padding-right: 10%;
  /* background-color: thistle; */
}

#hobbies-second-para img{
  width: 60%;
  margin:auto;
  margin-top: 3%;
  border-radius: 50%;
}

/* First Quote */
#first-quote{
  text-align: center;
  font-size: x-large;
  padding:10% 0% 20% 0%;
  /* background-color: lightgreen */
}

/* Projects */
/* #projects {
  background-color: lightcoral;
} */

.project-box {
  /* background-color: lightyellow; */
  border: 2px solid orange;
  position: relative;
  border-radius: 5%;
  padding: 0% 10%;
  margin-bottom: 10%;
}

.project-box h3{
  background-color: rgb(246, 255, 248);
  /* Same as background */
  font-size: x-large;
  width: 90%;
  position: absolute;
  left:50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.project-box img{
  margin: auto;
  padding-top: 10%;
  height:13em;
  display: block;
}
.project-box p{
  font-size: medium;
  text-align: center;
  padding-top: 10%;
  /* background-color: yellowgreen; */
  position: relative;
}
.project-box .proj-icons{
  display: flex;
  justify-content: center;
  clear: both;
  /* background-color: violet; */
}

.project-box i{
  font-size: 1.3em;
  padding:0% 5% 5% 5%;
  color: black;
}

#projects span{
  text-align: center;
  font-size: x-large;
  font-weight: 800;
  /* background-color: teal; */
  padding: 10% 0% 20% 0%;
}

/* Yuki's Thought Bubble */
#bubble{
  /* background-color: cornsilk; */
  padding-bottom: 20%;
}

#bubble h4{
  /* background-color: darkgrey; */
  padding: 0% 10% 8% 10%;
  font-size: 1.1em;
}

#bubble .bubble-box{
  width: 70%;
  margin: auto;
  /* background-color: pink; */
  margin-bottom: 5%;
}

#bubble .bubble-box h5{
  font-weight: 600;
}

#bubble a{
  padding: 10% 55%;
  /* color: #fff; */
  transform: translate(-20%,-20%);
  color:black;
  border: 2px solid pink;
  font-size: 0.7em;
  letter-spacing: 1.5px;
  line-height: 1.8em;
}


/* Get in touch */
#contact {
  /* background-color:violet; */
  margin-bottom: 0px
}

#contact h4{
  /* background-color: darkgrey; */
  padding: 0% 10% 0% 10%;
  font-size: 1.1em;
  margin-bottom: 7%;
}

#contact .item{
  /* background-color: yellow; */
  font-size: 1.1em;
  padding-top: 1%;
}

#contact .col-5 {
  text-align: right;
}

#contact li{
  list-style: none;
  display: flex;
  justify-content: center;
}

#contact a{
  margin: 0% 2%;
  font-size: 2em;
  text-decoration: none;
  color:rgb(187, 186, 186);
  transition: color 0.4s ease-in-out
}

#contact a:hover{
  color: rgb(87, 87, 255)
}

.contactcolumn{
  /* background-color: sienna; */
  margin: 5% 5% 0% 0%;
  padding: 0px;
}

.contactcolumn p{
  /* background-color: yellow; */
  margin: 0% 0% 0% 0%;
}

.contactcolumn input{
  /* background-color: wheat; */
  width: 100%;
  margin: 0% 0% 10% 0%;
  border: 0.1em solid lightgrey;
}

#message{
  height: 78%;
  /* background-color: wheat; */
  width: 100%;
  padding:0px;
  margin: 0px;
  border: 0.1em solid lightgrey;
}

#sendbutton {
  padding: 1% 7%;
  margin: 0% 40%;
  display: flex;
  justify-content: center;
  border: 0.1em solid lightgrey;
  color: black
  
}

/* Footer */
footer {
  margin-top: 15%;
  padding-top: 0%;
  /* background-color: aqua; */
}


.btn7 {
  padding: 2% 0%;
  text-transform: none;
  font-size: 1.1em;
  font-family:'Fira Sans Condensed', sans-serif;
  margin:auto;
  width: 25%;
  color:black;
  box-shadow: inset 000px 100px 0px 0px lightgray;
-webkit-transition: all 0.6s cubic-bezier(.9, .24, .40, 1);
transition: all 0.6s cubic-bezier(.9, .24, .40, 1)
}



.btn7:hover::before {
  opacity: 1;
  height: 0%;
}

.btn7:hover {
  box-shadow: inset 00px 10px 0px 0px lightgray;
  color: black;
}

footer p{
  /* background-color: white; */
  text-align: center;
  font-size: medium;
  width: auto;
}

/* .js-appear{
  -webkit-transform: translate3d(0 25px,0);
  transform: translate3d(0,25px,0);
  opacity: 0;
}

.on {
  -webkit-transform: translate3d(0 0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
} */