#main {
  visibility: hidden;
}

body {
font-family: Garamond, serif;
width: 90%;
min-width: fit-content;

}

#logo {
  width:20%;
  height:auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  max-width: 100%;
  height: auto;
}

#welcome {
  background-image: url(../img/bg.jpg);
  background-size: 100%;
  background-position-y: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#welcome p{
  text-align:center;
  font-size: xx-large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content {
  position: absolute;
  font-size: large;
  top: 100%;
  width: 70%
}

/* The sidebar menu */
.sidenav {
  height: 95%; /* Full-height: remove this if you want "auto" height */
  width: 11%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #69958C;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px; 
  border-top-right-radius:30px;  
  margin: 1%;
}

.row-navbar {
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.row-navbar p {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: smaller;
padding-top: 10%;
}

.choices {
  clear:both;
}

.choices a {
  text-align: right;
  width: 80%;
  padding: 0 0 0 0;
  text-decoration: none;
  font-size:small;
  color: #D1C1C1;
  display: block;
  float:right;
  margin-right: 10%;
  margin-bottom: 5%;
}

.choices a:hover {
  color: #f1f1f1;
  border-left: 2px solid #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 12px;}
}

.jp-page{
  clear:both;
  width:fit-content;
  position:relative;
  margin: auto;
  padding-top: 20%;
}

.jp-page a{
  text-align: center;
  color: #000000;
  text-decoration: none;
}
.jp-page a:hover {
  color: #f1f1f1;
}

.subheading {
  text-align:left;
  font-weight: bold;
  position: relative;
  padding: 20px;
  margin-bottom: 5%;
}

.subheading hr {
  height: 5px;
  width: 140px;
  position: absolute;
  left: 1.5%;
  margin-left: 0;
  top: 100%;
  margin-top: -10px;
  color: rgb(13, 226, 77);
}

/* About me section */
#about {
  margin-top: 10%;
}

#about-first-para, #about-second-para {
  padding-bottom: 15%;
}

/* Hobbies section */
#hobbies-first-para, #hobbies-second-para {
  padding-bottom: 15%;
}

/* First Quote */
#first-quote{
  font-size: x-large;
}

/* Contact Section */
#contact {
  left: 100%;
  width: 50%;
}

.contact-form .row {
  padding-bottom: 3%;
}

.contact-form .message {
  padding-bottom: 15%;
}

.span-1-of-3 {
  text-align: center;
}

#name, #email, #message {
  width: 150%;
}

#message {
  height: 190%;
}

#submitbutton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

footer {
  margin-top: 10%;
  padding-top: 5%;
  background-color: aqua;
}